/* Homeslider.css */
#header {
  display: flex;
  transition: transform 20s ease-in-out; /* Adjust the duration as needed */
  gap: 3rem;
}




/* For large devices */
@media (min-width: 768px) {
  #header img {
    max-height: 400px;
  }
}

/* For small devices */
@media (max-width: 767px) {
  #header img {
    max-height: 240px;
  }
}